@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --placeholder: #e2e2ea;
  --color-50: #f86338;
  --color-10: #ffefeb;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
